### Consistent Hypothesis:
 - A hypothesis that perfectly predicts the outcome for every single data point in a given training set

#### Step 1: Importing Required Modules

In [1]:
import pandas as pd     # Pandas is used for reading Dataset/ for Data Manipluation

#### Step 2: Importing Dataset

In [2]:
ds = pd.read_excel("data.xlsx")

In [3]:
ds.head()

   S.No.    Sky Air Temperature Humadity    Wind Water Forcast Play
0      1  Sunny            Warm   Normal  Strong  Warm    Same   No
1      2  Sunny            Warm     High  Strong  Warm    Same   No
2      3  Rainy            Cold     High  Strong  Warm  Change  Yes
3      4  Sunny            Warm     High  Strong  Cool  Change   No

#### As we can see our target variable is play, Now we try to create a sample Hypothesis that is :
  #### 1. h1 = (?, ?, Warm, ?, ? Warm, ?)
  #### 2. h2 = (?, ?, ?, Normal, ?, ?, Change)

  We must check wheather these Dataset is satisfying these Consistent Hypothesis or not.

  We can use the concept of iloc for this:  
  - Sky = 0,
  - Air Temperature = 1,
  - Humadity = 2,
  - Wind = 3,
  - Water = 4,
  - Forcast =5  

As we can see we are having 6 Independent variables, and 1 Dependent variable (play).

In [4]:
ds.head()

   S.No.    Sky Air Temperature Humadity    Wind Water Forcast Play
0      1  Sunny            Warm   Normal  Strong  Warm    Same   No
1      2  Sunny            Warm     High  Strong  Warm    Same   No
2      3  Rainy            Cold     High  Strong  Warm  Change  Yes
3      4  Sunny            Warm     High  Strong  Cool  Change   No

In [5]:
ds.iloc[0,1]   # 0th row and 1st column value will be printed

'Sunny'

So as pr our Hypothesis 1 h1: (?, Warm, ?, ? Warm, ?).  
we found the first value as **'Sunny'**

In [6]:
ds.iloc[0,3]    #0th row and 3rd column value will be printed

'Normal'

we found the second value as **'Warm'**